/**
 * Title:
 *    Extras
 * Description:
 *    Any other helpers which will be used throughout the project
 * Sections:
 *    $. Clearfix
 *    $. Flexible
 *    $. States
 *    $. Breakpoint Visibility
 */



/* $. Clearfix - http://goo.gl/5Fvrh
\*----------------------------------------------------------------*/

%cf,
.cf, form#commentform.comment-form {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fadein {
    opacity: 1;
}

/* $. Flexible
\*----------------------------------------------------------------*/

// .flexible {
//     position: relative;
//     height: 250px;
//     overflow: hidden;

//     @include respond-min($bp2) {
//         height: 300px;
//     }

//     @include respond-min($bp3) {
//         height: 400px;
//     }

//     iframe,
//     object,
//     embed {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }



/* $. States
\*----------------------------------------------------------------*/

/* Visually Hidden */
.is-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

// .is-current,
// .is-current a {
//     color: $color-text;
// }



/* $. Breakpoint Visibility
\*----------------------------------------------------------------*/

.is-visible--bp2 {
    display: none;

    @include respond-min($bp2) {
        display: block;
    }
}

.is-visible--bp3 {
    display: none;

    @include respond-min($bp3) {
        display: block;
    }
}

.is-visible--bp4 {
    display: none;

    @include respond-min($bp4) {
        display: block;
    }
}

.is-hidden--bp2 {
    @include respond-min($bp2) {
        display: none;
    }
}

.is-hidden--bp3 {
    display: block;

    @include respond-min($bp3) {
        display: none;
    }
}



/* $. Enter frontpage scroll
\*----------------------------------------------------------------*/

#enter {
    position: relative;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;

    @include respond-min($bp3) {
        top: 10em;
    }

    @include respond-min($bp4) {
        top: 11.5em;
    }

    @include respond-min($bp5) {
        top: 14em;
    }

    @include respond-min($bp5-5) {
        top: 18em;
    }

    @include respond-min($bp6) {
        top: 34em;
    }
}



/* $. Extras
\*----------------------------------------------------------------*/

.bordertop {
    @include respond-min($bp2) {
        border-top: solid 1px $green-brand;
        padding-top: 1em;
    }

    @include respond-min($bp3) {
        padding-top: 2em;
    }
}
