/**
 * Title:
 *    Overrides
 * Description:
 *    Global overrides to be used throughout a project. Using !important as
 *    we always want them to override existing styles.
 * Sections:
 *    $. Box Model
 *    $. Positioning
 *    $. Type Styling
 */



/* $. Box Model
\*----------------------------------------------------------------*/

.u-zero-top        { margin-top: 0; }
.u-zero-bottom     { margin-bottom: 0; }

.u-push-top        { margin-top: $base; }
.u-push-top\@2     { margin-top: $base*2; }
.u-push-top\@5     { margin-top: $base*0.5; }
.u-push-top\/2     { margin-top: $base/2; }

.u-push-bottom     { margin-bottom: $base; }
.u-push-bottom\@2  { margin-bottom: $base*2; }
.u-push-bottom\/2  { margin-bottom: $base/2; }

.u-display-block   { display: block; }
.u-display-inline  { display: inline-block; }
.u-display-none    { display: none; }

.u-vertical-top    { vertical-align: top; }
.u-vertical-middle { vertical-align: middle; }

.u-push-right       { margin-right: $base; }
.u-push-right\@2    { margin-right: $base*2; }
.u-push-left       { margin-left: $base; }
.u-push-left\@2    { margin-left: $base*2; }

.u-pad-right       { padding-right: $base; }
.u-pad-right\@2    { padding-right: $base*2; }
.u-pad-left       { padding-left: $base; }
.u-pad-left\@2    { padding-left: $base*2; }

.u-centered { margin: 0 auto; }

.u-top-bottom-space {
    padding-top: 6em;
    padding-bottom: 1em;

    @include respond-min($bp2) {
        padding-top: 5em;
        padding-bottom: 2em;
    }
}

.u-top-bottom-space--more {
    @include respond-min($bp2) {
        padding-top: 7em;
        padding-bottom: 2em;
    }
}

/* $. Positioning
\*----------------------------------------------------------------*/

/* Alignment */
.u-align-left   { text-align: left; }
.u-align-center { text-align: center; }
.u-align-right  { text-align: right; }

/* Floats */
.u-float-none   { float: none; }
.u-float-left   { float: left; }
.u-float-right  { float: right; }

/* Size specific */
.u-float-right-bp4 {
    @include respond-min($bp4) {
        float: right;
    }
}



/* $. Type Styling
\*----------------------------------------------------------------*/

/* Families */
.u-family          { font-family: $font; }

/* Sizing */
.u-size-small      { font-size: .8rem; }
.u-size-large      { font-size: 1.3rem; }

/* Weight */
.u-weight-normal   { font-weight: $weight-normal; }
.u-weight-medium   { font-weight: $weight-medium; }
.u-weight-bold     { font-weight: $weight-bold; }

/* Style */
.u-style-italic    { font-style: italic; }
.u-style-uppercase { text-transform: uppercase; }
.u-style-underline { text-decoration: underline; }



/* $. Styling
\*----------------------------------------------------------------*/

/* Borders */
.u-rounded  { border-radius: 100%; }
.u-curved   { border-radius: $base; }
.u-bordered { border: ($base/2) solid $white; }

