/**
 * Title: Typography
 * Description: Base typography styles dealing with Vertical Rhythm and Hierarchy
 * Sections:
 *    $. Vertical Rhythm
 *    $. Headings and Common Styles
 */



/* $. Vertical Rhythm
\*----------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0em;
    font-weight: $weight-medium;
}

blockquote, pre, p, ul, ol, dl, hr {
    margin-top: 0;
}

p, ul, ol, dl, hr, form, table, blockquote, pre {
    margin-bottom: 0em;
}

ul > :last-child,
ol > :last-child,
dl > :last-child,
blockquote > :last-child {
    margin-bottom: 0;
}



/* $. Headings and Common Styles
\*----------------------------------------------------------------*/

// ---------------------------- PORTFOLIO

h1 {
    font-size: 1.6rem;
}

h2, .excerpt p {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 2.2rem; // Stat circles
}

p {
    font-size: 1.1rem;
}

.gamma, .excerpt p {
    font-size: 1.3rem; //excerpt of side-project post
}

// ---------------------------- BLOG

.beta {
    font-size: 1.1rem; // Side-project overlay heading
}

.delta p {
    font-size: 1rem; // Side-project overlay text
}

// ------------------------------------------------------------------------- RESPONSIVE

@include respond-min($bp5) {

    // ---------------------------- PORTFOLIO

    h1 {
        font-size: 1.8rem;
    }

    h2, .excerpt p {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 2.4rem; // Stat circles
    }

    p {
        font-size: 1.2rem;
    }

    .gamma, .excerpt p {
        font-size: 1.5rem; //excerpt of side-project post
    }

    time {
        font-size: 1.2rem;
    }

    // ---------------------------- BLOG

    .beta {
        font-size: 1.3rem; // Side-project overlay heading
    }

    .delta p {
        font-size: 1.2rem; // Side-project overlay text
    }
}

@include respond-min($bp6) {

    // ---------------------------- PORTFOLIO

    h1 {
        font-size: 2rem;
    }

    h2, .excerpt p {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 2.6rem; // Stat circles
    }

    p {
        font-size: 1.4rem;
    }

    .gamma, .excerpt p {
        font-size: 1.7rem; //excerpt of side-project post
    }

    time {
        font-size: 1.4rem;
    }

}
