/**
 * Title:
 *    Button Module
 * Description:
 *    The .btn module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

%btn {
    display: inline-block;
    padding: ($base/2) $base;
    border: 0;
    transition: all .15s ease-out;
}

@mixin btn( $text, $bg, $htext: $text, $hbg: darken($bg, 10%) ) {
    color: $text;
    background: $bg;

    &:hover,
    &:focus {
        color: $htext;
        background: $hbg;
    }
}

.button_work button, .button_home button {
    display: block;
    width: 75%;
    background: $white;
    border: solid 1px $green-brand;
    margin: 0 auto;
    margin-top: $base;
    margin-bottom: $base;
    padding: .5em;
    
    a {
        width: 100%;
        padding: .5em 3em;

        @include respond-min($bp2) {
            padding: .5em 0em;
        }
    }

    @include respond-min($bp2) {
        margin-left: 0;
    }

    @include respond-min($bp3) {
        padding: .5em 0;
    }
}

.button_home button {
    display: none;

    @include respond-min($bp3) {
        display: block;
        width: 25%;
        font-size: 1.1rem;
    }

    @include respond-min($bp4) {
        font-size: 1.2rem;
    }
}

.button_work:hover button, .button_home:hover button {
    background: $green-brand;
    transition: all .3s ease;
    color: $white;
}

/* $. Component
\*----------------------------------------------------------------*/

button,
input[type="button"],
input[type="submit"],
.btn {
    @extend %btn;
}



/* $. Modifications
\*----------------------------------------------------------------*/

/**
 * Themes
 */

.btn--primary {
    @include btn($white, $grey);
}

.btn--secondary {}
.btn--tertiary {}
.btn--invert {}

/**
 * Position and size
 */

.btn--blocked {
    width: 100%;
    text-align: left;
}

.btn--large {
    font-size: 1.2rem;
}

.btn--small {
    font-size: .8rem;
}

/**
 * Icons
 */

.btn--icon {
    position: relative;
    padding-right: $base*2.5;

    .icon          {}
    .icon--small   {}
    .icon--medium  {}
    .icon--large   {}
    .icon--xlarge  {}
}

