// Share area

/* Comment form
--------------------------------------
*/

.post__commentform {
    position: relative;
    border-bottom: 1px solid $green-brand;
    padding-bottom: $base*2;
}

.comment-form {
    margin: $base 0 $base*2 0;
}

.comment-form-comment {
    margin: $base 0;

    @include respond-min($bp3) {
        margin: $base 0 0 0;
        float: right;
        width: 45%;
    }
}

.comment-form input, .comment-form textarea {
    border: 1px solid $grey;
    padding: .5rem;
}

.comment-form input:active, .comment-form input:focus, .comment-form textarea:active, .comment-form textarea:focus  {
    border: 1px solid $green-brand;
    color: $brand-red;
}

.comment-form textarea {
    width: 100%;
}

.comment-form-comment label {
    margin-bottom: .5rem;
    display: block;
}

.comment-form-author, .comment-form-email {
    margin-bottom: $base;

    label {
        display: block;
        margin-bottom: .5em;
    }
}

.comment-form-author {
    @include respond-min($bp3) {
        margin-top: 1.1em;
    }
}

.form-submit .submit {
    background: $white;
    border: 1px solid $green-brand;
    position: absolute;
    bottom: $base*2;
}

.submit:hover {
    background: $green-brand;
    color: $white;
}

.submit, .reply {
    transition: all .3s ease;
}

/* Comments 
--------------------------------------
*/

.comment-content {
    margin-top: $base;

    p {
        font-size: 1rem;
    }  
}

.avatar {
    margin: 0 $base;
}

.fn {
    font-weight: 600;
}

.comment-metadata {
    color: grey;
    font-size: .7rem;
    margin-left: 4.75rem;
    margin-top: -.5em;
}

.comment-content, .reply, .edit-link {
    margin-left: 1rem;
}

.comment {
    list-style: none;
    padding: $base;
}

.comment-list {
    margin: 0;
}

.reply {
    border: solid 1px $green-brand;
    width: 4em;
    text-align: center;
    padding: .25em;
    font-size: .8rem;
    margin-top: 2em;
}

.reply:hover {
    background: $red;
    color: $white;
    border: 1px solid $red;
}

.comment-list .comment:nth-child(even) {
    background: #f8f8f8;
    margin-top: $base;
}
