/**
 * Title:
 *    Icon Module
 * Description:
 *    Responsible for all sizes and styling of Grunticon based icons
 * Sections:
 *    $. Setup
 *    $. Base
 *    $. Variations
 *
 * TODO:
 *    - Change .svg sizes based on this file for better IE8 support
 */



/* $. Setup
\*----------------------------------------------------------------*/

@mixin icon-size( $size ) {
    width: $size;
    height: $size;
}


/* $. Base
\*----------------------------------------------------------------*/

.icon {
    @include icon-size($icon);
    display: inline-block;
    background-size: contain;
    margin-right: 1em;
    transition: 0.3s ease;

    @include respond-min($bp1) {
       @include icon-size($icon-medium);
       margin-right: 1em;
    }

    @include respond-min($bp4) {
       @include icon-size($icon-large);
    }
}



/* $. Variations
\*----------------------------------------------------------------*/

/* Generic sizing */
.icon--small { @include icon-size($icon-small); }
.icon--medium { @include icon-size($icon-medium); }
.icon--large { @include icon-size($icon-large); }
.icon--xlarge { @include icon-size($icon-xlarge); }

/* Styling */
.icon--transparent { opacity: .3; filter: alpha(opacity=30); }


