/* ------------------------------------------
  LOGOS
------------------------------------------ */

.logo_sideproject {
    margin: 0 auto;
    width: 25%;
    margin-top: 2em;
    display: block;

    @include respond-min($bp2) {
        display: inline-block;
        float: right;
    }
    
    @include respond-min($bp3) {
        float: none;
        display: block;
        width: 50%;
        margin-top: 2em;
    }
}

.logo_portfolio {
    height: 100vh;
    text-align: center;

    img {
        max-width: 80%;
        top: 40%;
        position: relative;
        transform: translateY(-40%);
    }

    @include respond-min($bp3) {
        margin-left: 3em;
        height: auto;
        text-align: left;

        img {
            max-width: 25%;
            position: static;
            transform: none;
        }
    }
}
