// CSS For social media sharing icons, using FA 

.socialmedia-sharing {
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
}

.socialmedia-sharing__list {
    margin-left: 0;
}

.socialmedia-sharing__list a:nth-child(2) li {
    margin: 0 1em;
}

.socialmedia-sharing__icon:hover {
    color: $green-brand;
    transition: all .3s ease;
}

.fa-twitter--red, .fa-facebook--red, .fa-envelope--red {
    color: $brand-red;
}
