.stat-circles {
    padding: 3em 0;

    @include respond-min($bp2) {
        margin: 0 auto;
    }

    @include respond-min($bp4) {
        padding: 4em 0 4em 0;
    }
    
    @include respond-min($bp6) {
        padding: 5em 0 5em 0;
    }
}

.statcircle {
    text-align: center;
    position: relative;
}

.statcircle-2 {
    margin: $base*3 0 !important;

    @include respond-min($bp2) {
        margin: 0 !important;
    }
}

.statcircle_number {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1em;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    opacity: 0;
    transition: 0.75s all ease;
    color: $green-brand;

    @include respond-min($bp3) {
        padding-top: 0.8em;
    }
}

.statcircle_title {
    position: relative;
    margin-top: $base;

    @include respond-min($bp3) {
        margin-top: 1em;
    }

    @include respond-min($bp4) {
        margin-top: 1em;
    }
}

.statcircle_icon {
    display: none;

    @include respond-min($bp2) {
        left: $base*2.25;
        position: absolute;
        display: block;

        &.icon--artbrush {
            left: $base*1.5;
        }
    }

    @include respond-min($bp3) {
        left: $base*2.25;

        &.icon--artbrush {
            left: $base*1.5;
        }

        &.icon--coding {
            top: $base/6;
        }
    }

    @include respond-min($bp5) {
        left: $base*1.25;

        &.icon--artbrush {
            left: $base*.5;
        }
    }
}
