/**
 * Title:
 *    Breadcrumbs
 * Description:
 *    Styling the breadcrumbs component.
 * Sections:
 *    $. Variables
 *    $. Base
 */



/* $. Variables
\*----------------------------------------------------------------*/

// variables



/* $. Base
\*----------------------------------------------------------------*/
.breadcrumbcont {
    z-index: 100;
    width: auto;
    float: left;
}

.breadcrumbs {
    padding-bottom: $base/2;
    margin: 0;
    font-size: .8rem;
    font-weight: normal;

    .itemListElement span {
        opacity: .7;
    }

    a {
        color: $brand-red;
        opacity: .8;

        &:hover,
        &:focus {
            opacity: 1;
            text-decoration: underline;
        }
    }
}
