/**
 * Title:
 *    Breadcrumbs
 * Description:
 *    Styling the breadcrumbs component.
 * Sections:
 *    $. Variables
 *    $. Base
 */



/* $. Variables
\*----------------------------------------------------------------*/

// variables



/* $. Base
\*----------------------------------------------------------------*/
.breadcrumbcont {
    z-index: 100;
}

.breadcrumbs {
    padding-bottom: $base/2;
    position: fixed;
    margin: 0;
    font-size: .8rem;
    width: 100%;
    z-index: 10;
    top: 5.6em; 

    .itemListElement span {
        opacity: .7;
    }

    a {
        color: $brand-red;
        opacity: .8;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
