/**
 * Title:
 *    Breadcrumbs
 * Description:
 *    Styling the breadcrumbs component.
 * Sections:
 *    $. Variables
 *    $. Base
 */



/* $. Variables
\*----------------------------------------------------------------*/

// variables



/* $. Base
\*----------------------------------------------------------------*/
.breadcrumbcont {
    position: fixed;
    z-index: 100;
    width: 100%;
    left: $base;

    @include respond-min($bp1) {
        left: $base*3;
    }

    @include respond-min($bp2) {
        left: 7.5%;
    }
}

.breadcrumbs {
    padding-bottom: $base/2;
    position: relative;
    margin: 0;
    font-size: .8rem;
    width: auto;
    z-index: 10;
    background: $white;
    top: 5.6em;

    @include respond-min($bp2) {
        background: $white;
    }

    .itemListElement span {
        opacity: .7;
    }

    a {
        color: $brand-red;
        opacity: .8;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
