/**
 * Title:
 *    Navigation
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Variables
 *    $. Container
 *    $. Component
 *    $. Primary
 *    $. Secondary
 *    $. Tertiary
 */



/* $. Variables
\*----------------------------------------------------------------*/

// $color-nav: $color-link;



/* $. Container
\*----------------------------------------------------------------*/

// .nav-container {
// }



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend %list--unset;
    // background: url("../img/headerBackground.svg") #8b1558;
    width: 100%;
    padding: 1em 0 1em 0;
    clear: both;
    height: calc(100vh - 74px);
    position: relative;
    display: block;
    transform: translateY(-110%);
    transition: transform 300ms linear;
        
    @include respond-min($bp1) { 
        height: calc(100vh - 110px);
    }

    @include respond-min($bp2) { 
        height: auto;
        padding: 0;
        transform: translateY(-305%);
        right: 5em;
    }
}

.nav--active {
    transform: translateY(0);

    @include respond-min($bp2) { 
        transform: translateY(-170%);
    }

    @include respond-min($bp3) { 
        transform: translateY(-160%);
    }

    @include respond-min($bp4) { 
        transform: translateY(-150%);
    }
}

.nav_list {
    margin: 0 auto;
    display: block;
    text-align: center;

    @include respond-min($bp2) { 
        text-align: right;
        padding: 0.5em 0 0 0;
    }
}

.nav_item {
    font-size: 2rem;
    padding: 1em 0 0 0;

    @include respond-min($bp1) { 
        font-size: 3rem;
        padding: 1.5em 0 0 0;
    }

    //  @include respond-min($bp2) { 
    //     font-size: 2rem;
    // }

    @include respond-min($bp2) { 
        display: inline;
        font-size: 1.2rem;
        margin-left: 0.5em;
        position: relative;

        :after {
            content: '';
            height: 3px;
            width: 0;
            background: transparent;
            transition: width .7s ease;
            position: absolute;
            bottom: 1px;
            left: 0;
        }

        :hover:after {
            background: $green-brand;
            width: 100%;
        }
    }

}

.nav_link {
    padding: $base/2 0.25em;
    font-weight: 600;
    color: $white;
    position: relative;
}

/* $. Primary
\*----------------------------------------------------------------*/

// .nav--primary {
// }



/* $. Secondary
\*----------------------------------------------------------------*/

// .nav--secondary {
// }



/* $. Tertiary
\*----------------------------------------------------------------*/

// .nav--tertiary {
// }
