// Styles for post pages

.introduction {
    @include respond-min($bp3) {
        max-width: 80%;
        margin: 0 auto;
    }
}

a.url {
    font-size: 1.1rem;
    position: relative;
}

.date {
    font-size: 1rem;
}

.excerpt a, .content a  {
    color: $brand-red;
}

.images {
    border-bottom: 1px solid $green-brand;
    padding: $base 0 $base*2 0;
}

.content {
    padding-bottom: $base*2;
    border-bottom: 1px solid $green-brand;
}
