// Styles for post pages

.post__introduction {
    @include respond-min($bp3) {
        max-width: 80%;
        margin: 0 auto;
    }
}

.post__title {
    font-size: 2rem;
}

.post__date, .post__excerpt p{
    font-size: 1.4rem;
}

.post__images {
    border-top: 1px solid $green-brand;
    border-bottom: 1px solid $green-brand;
    padding: $base*2 0;
}

.post__commentform {
    float: left;
}

.post__sharing {
    float: right;
    margin: 7.25rem 0 0 0;
    width: 25%;
}

.post__social {
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    cursor: point;
    transition: all 0.3s ease;
}

.post__social:hover {
    color: #CB4A4F;
    transform: scale(1.1);
}

.post__sharing--list {
    list-style: none;
    margin-left: 0;
}

.post__socialicon--facebook::before {
    font-family: "FontAwesome";
    content: "\f230"; 
    font-size: 2rem;
    position: absolute;
    top: -10px;
    left: -55px;
}

.post__socialicon--twitter::before {
    font-family: "FontAwesome";
    content: "\f099"; 
    font-size: 2rem;
    position: absolute;
    top: -10px;
    left: -55px;
}

.post__socialicon--email::before {
    font-family: "FontAwesome";
    content: "\f0e0"; 
    font-size: 2rem;
    position: absolute;
    top: -10px;
    left: -55px;
}
