/**
 * Title:
 *    Section object
 * Description:
 *    Used to visually define a different section. This is to be used as a main object that
 *    everything sits within.
 * Sections:
 *    $. Setup
 *    $. Base
 *    $. Elements
 *    $. Themes
 *    $. Sizing
 */



/* $. Setup
\*----------------------------------------------------------------*/

/**
 * Mixin to give colors and backgrounds for your section.
 *
 * @param  $text   Colour of the Text
 * @param  $bg     Colour of the Background
 */
@mixin section( $text, $bg ) {
    color: $text;
    background-color: $bg;
}


/* $. Base
\*----------------------------------------------------------------*/

.section {
    @extend %cf;
    overflow: hidden;
}

/* $. Elements
\*----------------------------------------------------------------*/

.section__content {
    @include respond-min($bp3) {
        float: right;
        width: 67%;
    }
    @include respond-min($bp5) {
        width: 62%;
    }
    @include respond-min($bp6) {
        width: 61%;
    }
}

/* $. Themes
\*----------------------------------------------------------------*/

.section_introduction {
    background: $color-brand;
    padding: 1em 0;
    // border-bottom: 1px solid $white;

    h1, h3 {
        color: $white;
    }

    @include respond-min($bp1) {
        padding: 2em 0;
    }

    @include respond-min($bp3) {
        padding: 0em 0;
    }
}

.about {
    padding-top: $base;

    @include respond-min($bp1) {
        padding-top: $base*2;
    }

    @include respond-min($bp3) {
        padding-top: $base;
    }
}

.section_stats {
    margin-top: $base;
}


/* $. Sizing
\*----------------------------------------------------------------*/

// .section--small {
//     padding: $base 0;
// }

// .section--large {
//     padding: ($base*2) 0 ($base*2) 0;

//     @include respond-min($bp2) {
//         padding: ($base*4) 0 ($base*4) 0;
//     }
// }
