.testimonials {
    background: $color-brand;
    color: $white;
    padding: 1em 0;

    @include respond-min($bp2) {
        padding: 2em 0;
    }
}

.testimonial_excerpt {
    @include respond-min ($bp2) {
        float: left;
        padding-right: 2em;
    }
}

.testimonial_slider {
    @include respond-min ($bp2) {
        margin-left: 2em;
    }
}

.unslider a, .unslider-arrow {
    display: none;
}

.unslider a {
    color: transparent;
}

.unslider ul li {
    padding: 0;
}

.unslider-arrow {
    margin-top: 1em;
}

.unslider-arrow.next, .unslider-arrow.prev {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.unslider-arrow.next {
    border-left: 10px solid $green-brand;
    right: 40px !important;
}

.unslider-arrow.prev {
    border-right: 10px solid $green-brand;
    left: 40px;
}
