.sideproject_item {
    position: relative;
    overflow: hidden;
}

.sideproject_item .sideproject_overlay {
  overflow: hidden;
  transition: all 0.3s ease;
}

.sideproject_image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: "";
    display: block;
    padding-top: (1/1) * 100%; // h / w
  }

  @include respond-min($bp2) {
    position: relative;
  }
}

.sideproject_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;
}

.sideproject_item:hover .sideproject_overlay {
  background-color: $green-brand;
  opacity: 0.96;
  color: $white;
}

.sideproject_overlay--text {
  padding: 1em;

  p {
    margin-top: $base/4;
  }
    
  @include respond-min($bp1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* ------------------------------------------
MAIN PROJECTS
------------------------------------------ */

.project-item {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.project-item .project-overlay {
  overflow: hidden;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.project-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0.5em;
}

.project-item:hover .project-overlay {
    background-color: $green-brand;
    opacity: 0.96;
}

.project-item img {
  display: block;
  position: relative;
  max-height: 100%;
}

.project-item h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 10px;
}

.project-item:hover h2 {
  text-decoration: none;
}

.project-link {
  display: inline-block;
  color: $white;
  // border: 1px solid $green-brand;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  transition: all 0.3s ease;
  padding: 3em 2em 2em 2em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @include respond-min($bp1) {
    padding: 1em;
  }

  @include respond-min($bp2) {
    padding: 2.75em;
  }

  @include respond-min($bp3) {
    padding: 1.5em;
  }

  @include respond-min($bp4) {
    padding: 2.5em;
  }

  @include respond-min($bp5) {
    padding: 3em 4.5em 4.5em 4.5em;
  }

  @include respond-min($bp6) {
    padding: 7em;
  }
}

.project-item:hover .project-link {
  text-decoration: none;
  opacity: 1;
  transform: scale(1);
}

.single-project-bio {
  width: 100%;
  text-align: center;

  @include respond-min($bp2) {
    width: 25%;
    position: fixed;
    text-align: left;
    border-right: 1px solid #11cba6;
    padding-bottom: $base*1.25;
  }

  @include respond-min($bp3) {
    padding-bottom: 2em;
    padding-top: 2.25em;
  }

  @include respond-min($bp4) {
    width: 21%;
    padding-top: 4.5em;
    padding-bottom: 6.5em;
  }

  @include respond-min($bp5) {
    width: 17em;
    padding-top: 6.25em;
    padding-bottom: 8em;
  }
}

.single-project-images {
  width: 100%;
  margin-top: 2em;

  @include respond-min($bp2) {
    width: 65%;
    float: right;
    margin-top: 0;
  }

  @include respond-min($bp4) {
    width: 69%
  }

  @include respond-min($bp5) {
    width: 70%;
  }

  @include respond-min($bp6) {
    width: 73%;
  }
}

.single-project-body {
  padding-bottom: $base*2;
  width: 100%;
  margin-top: $base*2;
  p {
    margin-top: $base/2;
  }

  @include respond-min($bp2) {
    width: 65%;
    float: right;
  }

  @include respond-min($bp3) {
    margin-top: 7.5em;
    padding-bottom: 0em;
  }

  @include respond-min($bp4) {
    width: 69%;
    margin-top: 4.5em;
    padding-bottom: 4em;
  }

  @include respond-min($bp5) {
    width: 70%;
    padding-bottom: 10em;
    margin-top: 13em;
  }

  @include respond-min($bp6) {
    width: 73%;
    margin-top: 3em;
  }
}

.single-project-screen img { 
  transition: all 0.3s ease;
}

.single-project-screen img:hover {    
  transform: scale(0.95);
}
