.work_item {
    position: relative;
    overflow: hidden;
}

.work_item .work_overlay {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work_image {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: "";
    display: block;
    padding-top: (1/1) * 100%; // h / w
  }

  @include respond-min($bp2) {
    position: relative;
  }
}

.work_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  text-align: center;
}

.work_item:hover .work_overlay {
    background-color: $green-brand;
    opacity: 0.96;
    color: $white;
}

.work_overlay--text {
    padding: 1em;

    @include respond-min($bp1) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

    }
}
