/**
 * Title:
 *    Containers
 * Description:
 *    Container based layout modules
 * Sections:
 *    $. Base
 *    $. Modifications
 */



/* $. Base
\*----------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 92.5%;
    min-width: 15em; // 240px
    max-width: 68.5em; // 1233px

    @include respond-min($bp1) {
        width: 85%;
    }
}

.container_hero {
    @include respond-min($bp3) {
        height: calc(100vh - 2.4em);
        position: relative;
        transform: translateY(10%);
        bottom: -10%;
    }

    @include respond-min($bp5) {
        transform: translateY(15%);
        bottom: -15%;
    }

    @include respond-min($bp6) {
        transform: translateY(20%);
        bottom: -20%;
    }
}

.secondary-introduction {
    padding: 1em 0;

    @include respond-min($bp3) {
        padding: 2em 0;
    }
}

.splash_logo {
    height: 100%;

    @include respond-min($bp3) {
        height: auto;
    }
}

.splash-text {
    padding-top: 2em;
    margin-bottom: 2em;

    @include respond-min($bp2) {
        margin: 0 0 2em 0;
    }

    @include respond-min($bp3) {
        float: right;
        width: 55%;
        margin: 0 1em 0 0;
        padding-left: 0;
        margin-top: 3%;

        h1 {
            font-size: 1.9rem;
        }

        h2 {
            font-size: 1.7rem;
        }

        h3 {
            font-size: 1.3rem;
        }
    }

    @include respond-min($bp4) {
        margin-top: 4%;
    }

    @include respond-min($bp5) {
        h1 {
            font-size: 2.2rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.6rem;
        }
    }

    @include respond-min($bp6) {
        margin-right: -4em;
        width: 60%;

        h1 {
            font-size: 2.4rem;
        }

        h2 {
            font-size: 2.2rem;
        }

        h3 {
            font-size: 1.8rem;
        }
    }
}

.secondary_heading {
    @include respond-min($bp2) {
        float: left;
        width: 30%;
    }

    @include respond-min($bp3) {
        width: 30.25%;
    }
}

.secondary_excerpt {
    h3 {
        margin-top: $base/2;
    }

    @include respond-min($bp2) {
        float: right;
        width: 70%;
        border-left: solid 1px $green-brand;
        padding-left: 2em;

        h3 {
            margin-top: 0;
        }
    }

    @include respond-min($bp3) {
        width: 69.75%;
        padding-left: 2.5em;
    }
}

/* $. Modifications
\*----------------------------------------------------------------*/

.container--small {
    max-width: 850px;
}

.container--flush {
    position: relative;
    width: 100%;

    @include respond-min($bp3) {
        width: 85%;
    }
}
