/**
 * Title:
 *    Sidebar
 * Description:
 *    Used to display the Sidebar's styling on pages or posts
 *    which have one.
 * Sections:
 *    $. Base
 */



/* $. Base
\*----------------------------------------------------------------*/

.sidebar {
    width: 25%;
    padding-right: 2em;
    float: left;
    border-right: 1px solid $green-brand;
    position: fixed;

}

.logo {
    margin: 0 auto;
    display: block;
    width: 60%;
    margin-top: .5em;
}



/* $. Elements
\*----------------------------------------------------------------*/

// .sidebar__section {
//     @extend .panel;
//     @extend .panel--grey;
// }

// .sidebar__heading {
// }

// .sidebar__list {
// }
