/* ------------------------------------------
    SLICK LIGHTBOX
------------------------------------------ */

/* $. Caption
\*----------------------------------------------------------------*/

.slick-lightbox-slick-caption {
    font-size: 1.1rem;
}

/* $. Navigation
\*----------------------------------------------------------------*/

.slick-lightbox .slick-prev, .slick-lightbox .slick-next {
    position: absolute;
    top: 7em;

    @include respond-min($bp2) {
        top: 10em;
    }
}

.slick-lightbox .slick-prev {
    left: 10%;
}

.slick-lightbox .slick-next {
    right: 10%;
}

.slick-lightbox .slick-arrow {
    border: solid 1px $green-brand;
    color: $white;
    background: none;
    z-index: 100;

    &:hover,
    &:focus {
        background: $color-brand;
    }
}

/* $. Misc
\*----------------------------------------------------------------*/

.slick-lightbox-slick-img {
    margin-bottom: $base;

    @include respond-min($bp2) {
        margin-bottom: $base;
    }
}
